* {
    margin: 0;
    padding: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: relative;
    margin: 0 auto;
}

.background::before {
    content: 'moon';
    display: block;
    position: absolute;
    left: 200px;
    top: 100px;
    width: 200px;
    height: 200px;
    background-color: #ff0;
    border-radius: 100px;
}

.star {
    position: absolute;
}

.star2 {
    top: 150px;
    left: 100px;
}

.star3 {
    left: 150px;
}

.star4 {
    top: 150px;
    left: 150px;
}

.star5 {
    top: 150px;
    left: 500px;
}

.star6 {
    top: 150px;
    left: 550px;
}

.star::before {
    content: '★';
    display: block;
    position: absolute;
    left: 10px;
    top: 20px;
    width: auto;
    height: auto;
    color: #fff;
    transform: scale(0.5);
    animation: 1s scintillate linear infinite;
}

.star::after {
    content: '★';
    display: block;
    position: absolute;
    left: 40px;
    top: 120px;
    width: auto;
    height: auto;
    color: #fff;
    transform: scale(0.5);
    animation: 1s scintillate linear infinite;
}

@keyframes scintillate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0.1);
    }
}

.chang-e {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(images/chang-e.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    animation: 20s fly linear forwards;
}

@keyframes fly {
    0% {
        left: 60%;
        top: 60%;
    }

    50% {
        left: 30%;
        top: 30%;
    }

    100% {
        left: 10%;
        top: 10%;
    }
}